<h1> <%= @actor %>'s Best Movies </h1>


<% @movies.each do |movie| %>
      <img class="poster" src="<%=movie.poster %>" alt="movie poster">
      <%=movie.title %>
      <%=movie.year %>
      <%=movie.rating %>
      <%=movie.description %>
      <iframe width="550" height="300" src="https://www.youtube.com/embed/<%=movie.trailer %>"></iframe>
      


      <%# <img class="trailer" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=1.00xw:0.669xh;0,0.190xh&resize=1200:*" alt="trailer"> %>
<% end %>