<% require 'i18n' %>
<div class="content">
  <% if @data[:movies] %>
    <% if @data[:query] != "Title" %>
      <h1 class="BlockLetter yellow"> <%= @data[:search].titleize %>'s <%=@data[:type].capitalize %> Movies </h1>
    <% else %>
      <h1> Movie Titles featuring '<%= @data[:search].titleize %>'</h1>
    <% end %>
    <% @data[:movies][0..50].each_with_index do |movie, i| %>
    <div class="padded">
      <div class="grid-3">
        <div class="">
            <img class="poster" src="<%=movie[:poster] %>" alt="movie poster">
            <% if current_user %>
              <%= button_to user_movies_path(movie), method: :post, class: "transparent save-movie" do %>
                <i class="fa fa-save fa-4x", aria-hidden="true"></i>
              <% end %>
            <% else %>
                <i class="fa fa-save fa-4x", aria-hidden="true"></i>
                <p class="small ital">You must login to save movies</p>
            <% end %>

        </div>
        <div>
              <h2 class="movie-header"> <%= button_to movie[:title], movies_path(movie), method: :post, id: "movie-#{i}", class: "movie-link" %>
              (
              <% if movie[:year]%>
              <%=movie[:year][0..3] %> 
              <% end %>
              <% if movie[:rated] %>
              <%=movie[:rated] %>)
              <% end %></h2>

            <p><%=movie[:genre] %></p>
            <table class="ratings">
              <tr>
                <th>IMDB</th>
                <th>Rotten</th>
                <th>Meta</th>
              </tr>
              <tr>
                <td><%=movie[:imdb] %></td>
                <td><%=movie[:rotten] %></td>
                <td><%=movie[:metacritic] %></td>
              </tr>
            </table>
            <div class="grid-2">
              <div class="">
                <p>Staring <br>
                <% if movie[:cast] %>
                  <% movie[:cast].each do |actor| %>
                    <%= link_to actor, "/dbless_search?search_type=Best&person_type=Actor's&search=#{I18n.transliterate(actor)}", method: :get, class: "actor-link"%> 
                    <br>
                  <% end %>
                <% end %>
                </p>
              </div>
              <div class="">
                <p>Directed by <br>
                <% if movie[:directors] %>
                  <% movie[:directors].each do |director| %>
                    <%= link_to director, "/dbless_search?search_type=Best&person_type=Director's&search=#{I18n.transliterate(director)}", method: :get, class: "actor-link"%> 
                    <br>
                  <% end %>
                <% end %>
                  </p>
              </div>
            </div>
            <p class="ital"><%=movie[:description] %></p>
        </div>
        <div class="trailer">
            <iframe width="550" height="300" src="https://www.youtube.com/embed/<%=movie[:trailer] %>" allowfullscreen="allowfulllscreen"></iframe>
        </div>
      </div>
    </div>
    <% end %>
  <% else %>
    <p>No Search Results Found</p>
  <%end %>
</div>
