<!DOCTYPE html>
<html>
  <head>
    <title>Reely</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="main_menu">
      <a class='btn left marged' href='/'>Home</a>
      <% if current_user.nil? %>
        <a class='btn left marged'  href="/auth/google_oauth2">Log In with Google</a>
      <% else %>
        <a class='btn left marged'  href="/profile">Profile</a>
        <a class='btn left marged'  href="/logout">Logout</a>
      <% end %>
      </section>
      <section class="movie-search">
      <%= form_tag "/dbless_search", method: "get" do %>
        <%= select_tag :person_type, options_for_select(["Actor's","Director's","Title"]), required: :true, class: "height-20"%>
        <%= select_tag :search_type, options_for_select(["Best","Worst"]), required: :true, class: "height-20"%>
        <%= text_field_tag :search, '', size: 75%>
        <%= submit_tag "Search", class: "btn-20 heigh-20 anodina-light"%>
      <% end %>

    </div>
    <% flash.each do |type, message| %>
      <section class=<%= type %>>
        <p class="user-message"><%= message %></p>
      </section>
    <% end %>
    <%= yield %>
  </body>
</html>
